*.o
*.pyc
bin/WP_HEADER.CSH
bin/cmtascii
bin/gcmtascii
bin/decim_one_sac_file_to_1sps
bin/decim_one_sac_file_to_2sps
bin/fast_synth
bin/fast_synth_only_Z
bin/fast_synth_rot
bin/make_resp_lookup_table
bin/prep_kernels
bin/prep_kernels_only_Z
bin/rec_dec_filt
bin/saclst
bin/syn_conv_filt
bin/synth_v6
bin/trim_sac_files
bin/wpinversion
bin/wpinversion_gs
